<p id="notice"><%= notice %></p>

<h1>Xmls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xmls.each do |xml| %>
      <tr>
        <td><%= link_to 'Show', xml %></td>
        <td><%= link_to 'Edit', edit_xml_path(xml) %></td>
        <td><%= link_to 'Destroy', xml, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xml', new_xml_path %>
