<p id="notice"><%= notice %></p>

<h1>Csvs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @csvs.each do |csv| %>
      <tr>
        <td><%= link_to 'Show', csv %></td>
        <td><%= link_to 'Edit', edit_csv_path(csv) %></td>
        <td><%= link_to 'Destroy', csv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Csv', new_csv_path %>
