<!DOCTYPE html>
<html>
  <head>
    <title>rest app ptc</title>
    <%= favicon_link_tag 'redlogo2.ico' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="toastr.css" rel="stylesheet"/>
    <script src="toastr.js"></script>
</head>
  <body>
  
  </body>
</html>
